/* SESSAO BANNER */

.banner{
    width: 100%;
    height: 100vh;

    background:url(../assets/images/banner\ venom.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}