/* SESSAO BANNER */

.banner {
    width: 100%;
    height: 100vh;

    background:
        linear-gradient(0deg, #000000 0%, #375DDB50 12%, #375DDB20 25%, #375DDB30 75%, #375DDB50 87%, #000000 100%, #000000 100%),
        url(../assets/images/banner\ venom.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner_posicionamento {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.pesquisa_persona {
    /* gap: 15%; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divisao_persona{
    margin-left: 30px;

}


.header_navegacao {
    display: flex;
    gap: 60%;
}

.icone_lupa {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
}

form button img {
    background-color: rgba(255, 0, 0, 0);
}

form {
    display: flex;
    flex-direction: row;
}

.barra_pesquisa {
    background: none;

    border-color: white;
    color: white;
    border-radius: 8px;
}

.barra_pesquisa .placeholder {
    color: white;
}

#teste{
    background-color: red;
    width: 100vw;
    height: 100vh;
}