







/* SESSAO BANNER */

.banner {
    width: 100%;
    height: 100vh;

    background:
        /* linear-gradient(0deg, #000000 0%, #375DDB50 12%, #375DDB20 25%, #375DDB30 75%, #375DDB50 87%, #000000 100%, #000000 100%), */
        url(../assets/images/banner\ venom.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}

/* Banner - Banner - Banner - Banner - Banner - Banner - Banner - Banner */

.banner_posicionamento {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


.caixa_texto {
    color: white;
    width: 450px;
    height: fit-content;

}

.textos_banner {
    height: 400px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo_banner {
    display: flex;
    flex-direction: column;
}

.titulo_banner span {
    font-size: 110px;
    font-weight: bold;
    display: flex;

    height: 125px;
}

.titulo_banner p {
    font-size: 32px;
    font-weight: bold;
}

.linha_banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 350px;
}

.classificacao_banner {
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    /* border-radius: 10%; */
    padding: 5px;
    gap: 10px;
    align-items: center;
}

.categoria_banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.bolinha_banner {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.categoria_a,
.categoria_f,
.hora_banner {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 10%;
    padding: 5px;
    gap: 10px;
}


.sinopse {}

.botao_banner button {
    height: 45px;
    width: 100px;
    border-radius: 10%;
    border: none;
    background-color: #2165DB;
    color: #fff;
    font-size: 15px;

    margin-top: 10px;

}

/* Principal linha */
.linha_filtro {
    height: 70px;
    width: 100%;

    border-bottom: 1px solid white;

    background-color: rgb(0, 0, 0);

    display: flex;
    align-items: end;
    justify-content: left;
    gap: 100px;

}

#filtragem {
    background-color: black;

    display: flex;
    flex-direction: row;

    height: 10vh;
    width: 100%;
}

.sem_fundo {
    width: 5%;
    background-color: rgb(0, 0, 0);
}

.conteudo_filtro {
    width: 90%;
    background-color: rgb(0, 0, 0);

    border-bottom: 1px solid white;

    display: flex;
    align-items: end;
}

.conteudo_filtro button {
    height: 40px;
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;

    padding: 10px;
    margin-right: 5%;
    margin-left: 5%;

    color: white;
    cursor: pointer;
}

.imgFunil {
    padding-right: 10px;

    width: 30px;
}

.imgSeta {
    padding-left: 70px;
}

#lancamento {
    background-color: black;
    /* margin-bottom: 10px;  IDEIA PARA LINHA DE SEPARACAO*/
}

#lancamento, .case_lancamento {

}
.linha_lancamento{
    display: flex;
    overflow-x: scroll;
} 

body::-webkit-scrollbar-button   {
    background: var(--azulForte);
}
.titulo {
    /* width: 5%; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    margin-bottom: 20px;

}

.titulo>h2 {
    font-size: 30px;
    color: var(--branco);
}

.case_lancamento {
    margin-left: 5%;
    color: var(--branco);
}

.case_lancamento>h3 {
    font-size: 25px;
}

.case_lancamento>.conteudo_cases {
    display: flex;
    gap: 13px;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
}



/* #teste {
    background-color: black;
    width: 100vw;
    height: 100vh;
} */