@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,400;0,600;1,400;1,600&display=swap');

* {
   padding: 0;
   /*Padding é para por espaçamento interno em um elemento*/

   margin: 0;
   /*Margin é para por espaçamento externo em um elemento*/

   box-sizing: border-box;
   font-family: "Istok Web", sans-serif;

   list-style: none;
   text-decoration: none;

}

/*  */

:root {
   --preto: #0000;
   --branco: #fff;
   --azulForte: #375DDB;
   --azulClaro: #4A66C2;
   --azulComOpacidade: #375DDB50;
   --bordas: 1px solid var(--branco);
   --arredondamento: 7px ;
}

body {
   background-color: var(--preto);

}

h1 {
   position: absolute;
   z-index: -1;
   opacity: 0;
}

.container {
   width: 90%;
   max-width: 1440px;
   margin: 0 auto;
}

/* SESSAO HEADER */
header {
   display: flex;
   justify-content: center;
}

.conteudo_header {
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background:
      linear-gradient(0deg, #375DDB05 0%, #375DDB10 10%, #375DDB20 25%, #375DDB30 45%, #375DDB40 55%, #375DDB50 65%, #375DDB60 45%, #375DDB65 50%, #375DDB75 60%, #375DDB80 75%, #375DDB75 85%, #00000080 90%, #000000 100%);

   width: 90%;
   max-width: none;
   margin: 0 auto;

   position: fixed;

}

header a:visited {
   color: white;

}

.header_link1:hover {
   scale: 1.3;
   transition: 0.5s;
}

.header_link2:hover {
   scale: 1.3;
   transition: 0.5s;
}

.header_link3:hover {
   scale: 1.3;
   transition: 0.5s;
}

.botao_banner button:hover {
   scale: 1.2;
   transition: 0.50s;
   background-color: #0E316D;

}